:root{
    --verde-1: #226F54;
    --verde-2: #87C38F;
    --rojo: #DA2C38;
    --crema: #f5f5f5;
    --marron: #43291F;
    --fuente1: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    /*padding: 10% 0% 10% 0%; */
}
header img{
    width: 130px;
    height: 130px;
    
}
header p{
    margin: 3%;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: 2rem;
    font-family: var(--fuente1);
}
.img{
    display: flex;
    justify-content: left;
    align-items: center;
}
header{
    background-color: var(--verde-2);
    box-shadow: var(--verde-1);
}
.box{ 
    background-color: var(--verde-1);
    margin: 10px;
    text-align: center;
    justify-content: center;
    color: var(--verde-2);
    font-size: 1rem;
    font-family: var(--fuente1);
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
}
