:root{
    --verde-1: #008036;
    --verde-2: #87C38F;
    --rojo: #f90205;
    --crema: #f6f7f9;
    --azul: #0a0e3e;
    --marron: #43291F;
    --fuente1: Verdana, Geneva, Tahoma, sans-serif;
}

.Calendar{
    height: 200px; /* altura fija */
    overflow-y: auto; /* permite scroll vertical cuando el contenido se desborda */
    border: 1px solid #ccc; /* opcional, para que se vea el contenedor */
} 
.row{
    background-color: var(--crema);
}

.indumentaria{

    background-image: url(imgs/indumentariaoscuro.png);
    height: 100%;
    width: 100%;
    /*padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;

    align-items: center;
    background-color: var(--verde-1);
    width: 100%;
    height: 100%;*/
}
.card{
    width: 100%;
    height: 100%;
}
.card p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.hijo{
    margin: 10%;
    height: 80%;
    width: 80%;
}
.rec{
    background-image: url(imgs/rectangulo5.png);
    background-repeat: no-repeat;
    background-size: cover;
     
}
.carrusel{
    padding: 3%;
    width: 100vh;
    height: 44vh;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2%;
}

h5{
    font-size: 5%;
    background-color: var(--verde-2);
    
}
#con{
    display: flex;
    justify-content: center;
    align-items: center;
}
#con div{
    margin-top: 7%;
}
#reg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes{
    display: flex;
    width: 30%;
    height: 30%;
}
.pie{
    display: flex;
    justify-content: center;
    margin: 3%;
    font-family: var(--fuente1);
    
}

#reg div{
    margin: 7%;
    font-size: 1rem;
}
@media screen and (min-width: 768px) {
    .indumentaria{
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;

    align-items: center;
    background-color: var(--verde-1);
    width: 100%;
    height: 100%;
}

}